.unity-progress-bar__progress {
    background-color: rgb(255, 90, 93);
}

.unity-progress-bar__container {
    width: 508px;
    min-height: 60px;
}

.unity-progress-bar__background {
    background-color: rgba(0, 0, 0, 0.8);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
