.unity-progress-bar__progress {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

.unity-progress-bar__container {
    width: 601px;
    height: 70px;
    max-height: 40px;
}
